* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: Georgia, "Times New Roman", serif;

    background:
        linear-gradient(
            rgba(60, 50, 48, 0.40),
            rgba(60, 50, 48, 0.40)
        ),
        url("imagens/salao_belleza.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}




.login-card {
    width: 495px;

    background: rgba(255, 255, 255, 0.97);

    border-radius: 7px;

    padding: 25px 50px 18px;

    box-shadow:
        0 10px 35px rgba(0, 0, 0, 0.20);
}




.logo-area {
    text-align: center;
}

.logo {
    width: 160px;
    height: 160px;

    object-fit: contain;

    display: block;

    margin: 0 auto 2px;
}

.logo-area h1 {
    font-size: 29px;

    font-weight: normal;

    color: #352a27;

    margin: 0;
}



.texto-login {
    text-align: center;

    color: #4f4643;

    font-size: 12px;

    margin-top: 10px;
    margin-bottom: 20px;
}




.campo {
    margin-bottom: 21px;
}

.campo label {
    display: block;

    color: #403734;

    font-size: 12px;

    margin-bottom: 2px;
}

.campo input {
    width: 100%;

    height: 16px;

    border: 1px solid #8f8987;

    border-radius: 1px;

    background: #ffffff;

    padding: 1px 4px;

    font-family: Georgia, "Times New Roman", serif;

    font-size: 11px;

    outline: none;
}

.campo input:focus {
    border-color: #863e5c;
}

.campo input::placeholder {
    color: #77716f;
}




.esqueci {
    text-align: right;

    margin-top: -15px;

    margin-bottom: 17px;
}

.esqueci a {
    color: #863e5c;

    font-size: 11px;

    font-weight: bold;

    text-decoration: underline;
}




.btn-entrar {
    width: 100%;

    height: 18px;

    border: none;

    border-radius: 2px;

    background: #863e5c;

    color: #ffffff;

    font-family: Georgia, "Times New Roman", serif;

    font-size: 11px;

    font-weight: bold;

    cursor: pointer;
}

.btn-entrar:hover {
    background: #71334d;
}



.ou {
    text-align: center;

    margin: 17px 0 16px;
}

.ou span {
    color: #403734;

    font-size: 12px;
}




.btn-criar {
    width: 100%;

    height: 18px;

    display: flex;

    align-items: center;
    justify-content: center;

    border: 1px solid #863e5c;

    border-radius: 2px;

    background: #ffffff;

    color: #863e5c;

    font-size: 11px;

    text-decoration: none;

    cursor: pointer;
}

.btn-criar:hover {
    background: #863e5c;

    color: #ffffff;
}




.frase {
    text-align: center;

    color: #716865;

    font-size: 11px;

    margin-top: 38px;
}




@media (max-width: 600px) {

    body {
        padding: 20px;
    }

    .login-card {
        width: 100%;

        padding: 25px 30px 20px;
    }
}